<div class="navbar">
  <div class="logo">
    <%= link_to "Stéphanie Simpson illustration & design logo", root_path %>
  </div>
  <div class="menu">
    <div class="a1">
      <%= link_to "work", portfolio_path %>
    </div>
    <div class="a2">
      <%= link_to "sketchbook", sketchbook_path %>
    </div>
    <div class="a3">
      <%= link_to "boutique", shopping_path %>
    </div>
    <div class="a4">
      <%= link_to "à propos", about_path %>
    </div>
    <div class="a5">
      <%= link_to "EN", "#" %>
    </div>
  </div>
</div>