<div class="navbar">
  <div class="logo">
    <p><%= link_to "Stéphanie Simpson illustration & design logo", root_path %></p>
  </div>
  <div class="menu">    
    <div class="a1">
      <%= link_to "portfolio", portfolio_path %>
    </div>
    <div class="a2">
      <%= link_to "sketchbook", sketchbook_path %>
    </div>
    <div class="a3">
      <%= link_to "boutique", shopping_path %>
    </div>
    <div class="a4 active-item">
      <%= link_to "à propos", about_path %>
    </div>
    <div class="a5">
      <% if user_signed_in? && current_user.admin == true  %> 
        <%= link_to "new?", new_picture_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-about">
  <div class="row">
    <div class="col-6">
      <img class="author-picture" src="https://res.cloudinary.com/dus151ezt/image/upload/v1615157573/Beauty%27s%20website/20451603_10155570765316484_5544217502941934963_o_ku6jci.jpg" alt="autrice">
    </div>

    <div class="col">
      <div class="about">
        <h1>À propos</h1>
          <p>Stéphanie Simpson est une illustratrice et designer multidisciplinaire basée à Montréal. Inspirées par l’environnement, le mouvement et le quotidien, ses créations suscitent l’imagination et l’interaction.</p>
          <p>Ses précédents projets l’ont amenée à créer des illustrations et réaliser du design sur une pluralité de médiums, notamment dans l’espace public. Particulièrement à l’aise avec tout ce qui est fait main, elle aime les projets à dimension humaine qui rassemblent, incitent au partage et éveillent l’émotion. </p>
          <p class="btn btn-warning"><a href="mailto:stephanie.simpson@hotmail.fr">Écrivez-moi !</a></p>
      </div>
    </div>
  </div>
</div>

