<div class="navbar">
  <div class="logo">
    <p><%= link_to "Stéphanie Simpson illustration & design logo", root_path %></p>
  </div>
  <div class="menu">    
    <div class="a1">
      <%= link_to "portfolio", portfolio_path %>
    </div>
    <div class="a2">
      <%= link_to "sketchbook", sketchbook_path %>
    </div>
    <div class="a3">
      <%= link_to "boutique", shopping_path %>
    </div>
    <div class="a4">
      <%= link_to "à propos", about_path %>
    </div>
    <div class="a5">
      <% if user_signed_in? && current_user.admin == true  %> 
        <%= link_to "new?", new_picture_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-intro">
  <div class="left-section-intro">
    <p class="animation">Stéphanie Simpson est une <br>
    <span style="color: #D8973C;">illustratrice</span> et <span style="color: #7CA982;">designer<br>
    multidisciplinaire</span> basée à Montréal. <br></p>
    <p class="animation a2">Inspirées par <span style="color: #357266;">l’environnement</span>, <br>
    le <span style="color: #B6212B;">mouvement</span>  et le <span style="color: #D8973C;">quotidien</span>, <br>
    ses créations suscitent l'<span style="color: #7CA982;">imagination</span><br>
    et l'<span style="color: #204676;">interaction</span>.</p>
  </div>

  <div class="right-section-intro">
    <div class="start animation a4">
      <%= link_to "", portfolio_path, class: "far fa-play-circle" %>
    </div>
  </div>
</div>
