<!-- Homepage -->

<div class="container-intro">
  
  <div class=text--intro>
    <div class="intro--animation">
      <p>Stéphanie Simpson est une <span style="color: #B6212B;">illustratrice</span> et
      <span style="color: #392F5A;">designer multidisciplinaire</span> basée à Montréal.<br>
      </p>
    </div>
    <div class="intro--animation b2">
      <p>Inspirées par <span style="color: #357266;">l’environnement</span>, le <span style="color: #B6212B;">mouvement</span>
      et le <span style="color: #404E7C;">quotidien</span>, ses créations suscitent 
      l'<span style="color: #443627;">imagination</span> et l'<span style="color: #B6212B;">interaction</span>.
      </p>
    </div>
    <div class="start animation b3">
      <a href="#portfolio"><i class="fa-solid fa-chevron-down"></i></a>
    </div>
  </div>
  
  <img src="https://res.cloudinary.com/dus151ezt/image/upload/v1649537151/Beauty%27s%20website/Postanim_FemmeBleue_i07k1z.gif"/>
  
</div>

<!-- Portfolio -->

<div id ="portfolio" class="card-columns">

  <% @pictures.each do |picture|  %>
    
      <% if picture.is_portfolio_item == true %>
      
        <div class="card">
          <div class="card-img">
            <% picture.photos.each do |photo| %>
              <% if picture.photos[0] %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                <% break %> 
              <% end %>
            <% end %>
          </div>
          <div class="card-img-overlay">
            <h3 class="card-title d-flex align-items-center "><%= link_to picture.name, picture_path(picture) %></h3>
          </div>
        </div>

      <% end %>

  <% end %>

</div>

<!-- Sketchbook -->

<div class="card-columns">

  <% @pictures.each do |picture|  %>
      <% if picture.is_sketchbook_item == true %>

        <div class="card">
          <div class="card-img">
            <% picture.photos.each do |photo| %>
              <% if picture.photos[0] %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                <% break %> 
              <% end %>
            <% end %>
          </div>
          <div class="card-img-overlay">
            <h3 class="card-title d-flex align-items-center "><%= link_to picture.name, picture_path(picture) %></h3>
          </div>
        </div>
        
      <% end %>

  <% end %>

</div>

<!-- Shopping -->

<div class="card-columns">

  <% @pictures.each do |picture|  %>
      <% if picture.is_shopping_item == true %>
      
        <div class="card">
          <div class="card-img">
            <% picture.photos.each do |photo| %>
              <% if picture.photos[0] %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                <% break %> 
              <% end %>
            <% end %>
          </div>
          <div class="card-img-overlay">
            <h3 class="card-title d-flex align-items-center "><%= link_to picture.name, picture_path(picture) %></h3>
          </div>
          <div class="card-body">
            <p class="card-text"><%= picture.price.round() %>$</p>
          </div>

        </div>

      <% end %>
  <% end %>

</div>
