<div class="navbar">
  <div class="logo">
    <p><%= link_to "Stéphanie Simpson illustration & design logo", root_path %></p>
  </div>
  <div class="menu">    
    <div class="a1 active-item">
      <%= link_to "portfolio", portfolio_path %>
    </div>
    <div class="a2">
      <%= link_to "sketchbook", sketchbook_path %>
    </div>
    <div class="a3">
      <%= link_to "boutique", shopping_path %>
    </div>
    <div class="a4">
      <%= link_to "à propos", about_path %>
    </div>
    <div class="a5">
      <% if user_signed_in? && current_user.admin == true  %> 
        <%= link_to "new?", new_picture_path %>
      <% end %>
    </div>
  </div>
</div>

<%# <div class="page-title">
  <h1>Portfolio</h1>
</div> %>

<div class="card-columns">

  <% @pictures.each do |picture|  %>
    
      <% if picture.is_portfolio_item == true %>
      
        <div class="card">
          <div class="card-img">
            <% picture.photos.each do |photo| %>
              <% if picture.photos[0] %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                <% break %> 
              <% end %>
            <% end %>
          </div>
          <div class="card-img-overlay">
            <h3 class="card-title d-flex align-items-center "><%= link_to picture.name, picture_path(picture) %></h3>
          </div>
        </div>

      <% end %>

  <% end %>

</div>

