<div class="navbar">
  <div class="logo">
    <p><%= link_to "Stéphanie Simpson illustration & design logo", root_path %></p>
  </div>
  <div class="menu">    
    <div class="a1">
      <%= link_to "portfolio", portfolio_path %>
    </div>
    <div class="a2">
      <%= link_to "sketchbook", sketchbook_path %>
    </div>
    <div class="a3">
      <%= link_to "boutique", shopping_path %>
    </div>
    <div class="a4">
      <%= link_to "à propos", about_path %>
    </div>
    <div class="a5">
      <% if user_signed_in? && current_user.admin == true  %> 
        <%= link_to "new?", new_picture_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-devise">
  <div class="left-section">
    <div class="header">
      <h1 class="animation a1">Welcome Back!</h1>
      <h4 class="animation a2">Log in to continue your Beautyness journey</h4>
    </div>
    <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
<!--           <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
            <%= f.button :submit, "Log in", class: "btn btn-lg btn-primary button-form animation a6" %>
      <% end %>
    </div>
    <div class="animation a7">
       <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="right-section-login"></div>
</div>