<h3>Please enter new picture's details</h3>

<form>
  
    <%= form_for(@picture) do |f| %>

      <div class="form-group">
        <%= f.label :name, "Enter a name" %>
        <%= f.text_field :name %>
      </div>

      <div class="form-group">
        <%= f.label :description, "Enter a description" %>
        <%= f.text_area :description %>
      </div>

      <div class="form-group">
        <p>Where do you want to add this picture?</p>

        <%= f.check_box :is_home_item %>
        <%= f.label :is_home_item, "Home" %>

        <%= f.check_box :is_portfolio_item %>
        <%= f.label :is_portfolio_item, "Portfolio" %>

        <%= f.check_box :is_sketchbook_item %>
        <%= f.label :is_sketchbook_item, "Sketchbook" %>

        <%= f.check_box :is_shopping_item %>
        <%= f.label :is_shopping_item, "Shopping" %>

      </div>

      <div class="form-group">
        <%= f.label :category, "Enter a category" %>
        <%= f.text_field :category %>
      </div>

      <div class="form-group">
        <%= f.label :price, "Enter a price" %>
        <%= f.number_field :price %>$ CAD
      </div>

      <div class="form-group">
        <%= f.label :photo %>
        <%= f.file_field :photo %>
      </div>

      <div class="form-group">
        <%= f.submit %>
      </div>
    <% end %>
</form>

<p><%= link_to 'Back to the main page', root_path %></p>
