<%= form_for @picture do |f| %>
  <%= f.label :name, "Enter a name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Enter a description" %>
  <%= f.text_area :description %>

  <%= f.label :page, "Where do you want to add this picture?" %>
  <%= f.select :page, ["Home", "Portfolio", "Sketchbook", "Shopping"] %>

  <%= f.label :category, "Enter a category" %>
  <%= f.text_field :category %>

  <%= f.label :price, "Enter a price" %>
  <%= f.number_field :price %>$

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.submit %>
<% end %>

<p><%= link_to 'Back to the main page', root_path %></p>
