<div class="navbar">
  <div class="logo">
    <p><%= link_to "Stéphanie Simpson illustration & design logo", root_path %></p>
  </div>
  <div class="menu">    
    <div class="a1">
      <%= link_to "portfolio", portfolio_path %>
    </div>
    <div class="a2">
      <%= link_to "sketchbook", sketchbook_path %>
    </div>
    <div class="a3">
      <%= link_to "boutique", shopping_path %>
    </div>
    <div class="a4">
      <%= link_to "à propos", about_path %>
    </div>
    <div class="a5">
      <% if user_signed_in? && current_user.admin == true  %> 
        <%= link_to "new?", new_picture_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-show">
    <div class="row">

      <div class="picture-menu">
        <div class="back-to">
          <i class="fas fa-long-arrow-alt-left"></i>
          <% if @picture.is_home_item == true %>
                  <%= link_to "Back to the Home page", root_path  %>
              <% elsif @picture.is_portfolio_item == true %>
                  <%= link_to "Back to the Portfolio", portfolio_path  %>
              <% elsif @picture.is_sketchbook_item == true %>
                  <%= link_to "Back to the Sketchbook", sketchbook_path  %>
              <% else @picture.is_shopping_item == true %>
                  <%= link_to "Back to the Shopping page", shopping_path  %>
          <% end %>
        </div>
        <div class="picture-options">
          <% if current_user == @picture.user %>
            <p class="btn btn-info"><%= link_to "Modifier l'image", edit_picture_path(@picture) %></p>
            <p class="btn btn-info"><%= link_to "Supprimer l'image", picture_path(@picture), method: :delete, data: { confirm: "T'es bien certaine, Beauty Luv XXX ?" }  %></p>
          <% end %>
        </div>
      </div>

        
      <div class="col-5">
          <div class="picture">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @picture.photos.each_with_index do |photo, index|  %>
                    <div class="carousel-item <%= index == 0 ? 'active' : "" %>">
                        <div class="d-block w-100"><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></div>
                    </div>
                <% end %>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>

        <div class="col-5">
            <div class="picture-details">
              <h1><%= @picture.name %></h1>
              <p><%= @picture.description %></p>
            </div>
 
        </div>
    </div>
</div>