<h1><%= @picture.name %></h1>
    <p><%= @picture.description %></p>
    <p><%= @picture.format %></p>
    <p><%= @picture.category %></p>
    <p><%= @picture.publishing_date %></p>
    <p><%= @picture.price %></p>

<% if @picture.page == "home" %>
        <%= link_to "Back to the Home page", root_path  %>
    <% elsif @picture.page == "portfolio" %>
        <%= link_to "Back to the portfolio", portfolio_path  %>
    <% elsif @picture.page == "sketchbook" %>
        <%= link_to "Back to the sketchbook", sketchbook_path  %>
    <% else @picture.page == "shopping" %>
        <%= link_to "Back to the shopping page", shopping_path  %>
<% end %>