<h1><%= @picture.name %></h1>
    <p><%= @picture.description %></p>
    <p><%= @picture.format %></p>
    <p><%= @picture.category %></p>
    <p><%= @picture.publishing_date %></p>
    <% if @picture.is_shopping_item == true %>
        <p><%= @picture.price %></p>
    <% end %>

<% if @picture.is_home_item == true %>
        <%= link_to "Back to the Home page", root_path  %>
    <% elsif @picture.is_portfolio_item == true %>
        <%= link_to "Back to the portfolio", portfolio_path  %>
    <% elsif @picture.is_sketchbook_item == true %>
        <%= link_to "Back to the sketchbook", sketchbook_path  %>
    <% else @picture.is_shopping_item == true %>
        <%= link_to "Back to the shopping page", shopping_path  %>
<% end %>