<h1><%= @picture.name %></h1>
    <p><%= @picture.page %></p>
    <p><%= @picture.description %></p>
    <p><%= @picture.format %></p>
    <p><%= @picture.category %></p>
    <p><%= @picture.publishing_date %></p>
    <p><%= @picture.price %></p>

    <%= link_to "Back to the Index", pictures_path  %>