<!DOCTYPE html>
<html>
  <head>
    <title>Stéphanie Simpson, Illustration & Design</title>
    <meta name="description" content="Stéphanie Simpson est une illustratrice et designer multidisciplinaire basée à Montréal. Inspirées par l’environnement, le mouvement et le quotidien, ses créations suscitent l'imagination et l'interaction.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:site_name" content="Stéphanie Simpson"/>
    <meta property="og:title" content="Stéphanie Simpson"/>
    <meta property="og:url" content="https://blanc-et-beige.herokuapp.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Stéphanie Simpson est une illustratrice et designer multidisciplinaire basée à Montréal. Inspirées par l’environnement, le mouvement et le quotidien, ses créations suscitent l'imagination et l'interaction."/>
    <meta property="og:image" content="https://res.cloudinary.com/dus151ezt/image/upload/v1618673923/Beauty%27s%20website/Capture_afw73o.png"/>
    <meta property="og:image:width" content="831"/>
    <meta property="og:image:height" content="499"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>

  <body style="background: #FFFDFB; height: 300px;">
  
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %>

  </body>
</html>
